[Unit]
Description=Recipes backend
After=syslog.target network.target

[Service]
User=mysecrets
Group=mysecrets
WorkingDirectory=/usr/local/mysecrets_backend
Environment=FLASK_ENV=production
ExecStart=/usr/local/bin/pipenv run gunicorn -b 127.0.0.1:5000 -w 2 app:app
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target